.container {
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
        width: 425px;
        height: 257px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -213.5%, rgba(255, 255, 255, 0) 100%);
        box-shadow: inset 0px -1px 11px rgba(255, 255, 255, 0.17), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
        border-radius: 8px;
        .card_content {
            padding: 24px;
            .header {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            ol {
                padding-left: 17px;
                li {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;
                    letter-spacing: -0.02em;
                }
            }
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                letter-spacing: -0.02em;
                margin-top: -8px;
            }
        }
        .infoContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            .info {
                display: flex;
                width: 371px;
                height: 77px;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                padding: 14px 10px 0px 10px;
                img {
                    width: 22px;
                    height: 24px;
                    padding-right: 6px;
                }
                p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 160%;
                    letter-spacing: -0.02em;
                    padding-top: 5px;
                }
            }
        }
    }
    .button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 44px;
        button {
            color: #fff;
            text-align: center;
            padding: 7px 16px;
            width: 225px;
            height: 56px;
            background: #ECAB03;
            border-radius: 4px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }
        svg {
            position: absolute;
            top: 1rem;
            left: 18rem;
        }
    }
}

@media screen and (max-device-width: 540px) {
    .container {
        .card {
            width: 24rem;
            height: 290px;
            // .card_content {
            //     padding: 24px;
            //     .header {
            //         display: flex;
            //         justify-content: center;
            //         align-items: center;
            //     }
            //     ol {
            //         padding-left: 17px;
            //         li {
            //             font-weight: 400;
            //             font-size: 14px;
            //             line-height: 160%;
            //             letter-spacing: -0.02em;
            //         }
            //     }
            //     p {
            //         font-weight: 400;
            //         font-size: 14px;
            //         line-height: 160%;
            //         letter-spacing: -0.02em;
            //         margin-top: -8px;
            //     }
            // }
            // .infoContainer {
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     .info {
            //         display: flex;
            //         width: 371px;
            //         height: 77px;
            //         background: rgba(0, 0, 0, 0.3);
            //         border-radius: 10px;
            //         padding: 14px 10px 0px 10px;
            //         img {
            //             width: 22px;
            //             height: 24px;
            //             padding-right: 6px;
            //         }
            //         p {
            //             font-weight: 400;
            //             font-size: 12px;
            //             line-height: 160%;
            //             letter-spacing: -0.02em;
            //             padding-top: 5px;
            //         }
            //     }
            // }
        }
        .button {
            // position: relative;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            margin-top: 25px;
            // button {
            //     color: #fff;
            //     text-align: center;
            //     padding: 7px 16px;
            //     width: 225px;
            //     height: 56px;
            //     background: #ECAB03;
            //     border-radius: 4px;
            //     font-weight: 600;
            //     font-size: 14px;
            //     line-height: 17px;
            // }
            svg {
                // position: absolute;
                // top: 1rem;
                left: 16.5rem;
            }
        }
    }
}
