.container {
    position: relative;
    .rays{
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            position: absolute;
            top: -39rem;
            text-align: center;
        }
    }
    .coins {
        img {
            position: absolute;
            top: 13rem;
            left: 39%;
            width: 24rem;
            height: auto;
            text-align: center;
    
        }
    }   
}


@media screen and (max-device-width: 1440px){
    .container {
        .rays{
            svg{
                position: absolute;
                top: -43rem;
                width: 100%;
            } 
        }
        .coins {
            img {
                width: 20rem;
                height: auto;
                position: absolute;
                left: 37%;
                top: 8.7rem;
            }
        }
    }
  }
@media screen and (max-device-width: 1024px){
    .container {
        .rays{
            svg{
                position: absolute;
                top: -42rem;
                width: 64rem;
            } 
        }
        .coins {
            img {
                width: 33rem;
                height: auto;
                position: absolute;
                left: 24%;
                top: 5rem;
            }
        }
    }
  }
@media screen and (max-device-width: 768px){
    .container {
        .rays{
            svg{
                position: absolute;
                top: -37rem;
                width: 52rem
            } 
        }
        .coins {
            img {
                width: 68%;
                height: auto;
                position: absolute;
                left: 15%;
                top: 5rem;
            }
        }
    }
  }

@media screen and (max-device-width: 540px){
    .container {
        .rays{
            svg{
                position: absolute;
                width: 27rem;
                top: -424px;
            }
        }
        .coins {
            img {
                left: 6%;
                top: 7rem;
                width: 85%;
            }
        }
    }
}



