.container {
    display: flex;
    justify-content: space-between;
    margin: 44px 104px 44px;
    .navDate {
        display: flex;
        .day > span {
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            line-height: 109%;
            margin-left: 14px;
        }
        .day small {
            font-weight: 400;
            font-size: 14px;
            line-height: 109%;
            letter-spacing: -0.02em;
            color: rgba(255, 255, 255, 0.6);
            margin-left: 14px;
        }
    }
}

@media screen and (max-device-width: 540px){
    .container {
        margin: 20px 24px 44px;
        // .navDate {
        //     display: flex;
        //     .day > span {
        //         color: #fff;
        //         font-weight: 700;
        //         font-size: 18px;
        //         line-height: 109%;
        //         margin-left: 14px;
        //     }
        //     .day small {
        //         font-weight: 400;
        //         font-size: 14px;
        //         line-height: 109%;
        //         letter-spacing: -0.02em;
        //         color: rgba(255, 255, 255, 0.6);
        //         margin-left: 14px;
        //     }
        // }
    }
}